{
    "presets": [
        "env",
        "react",
        "airbnb"
    ],
    "plugins": [
      "syntax-dynamic-import", 
      "transform-object-rest-spread",
      "transform-class-properties", 
      "transform-regenerator"
    ]
}