<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <base href = "<%= htmlWebpackPlugin.options.baseUrl %>" />
    <title>Lost and found</title>
  </head>
  <body>
        <div id="root"></div>
        <% for (key in htmlWebpackPlugin.files.js) { %><script type="text/javascript" src="/<%= htmlWebpackPlugin.files.js[key] %>/"></script><% } %>
  </body>
</html>