@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    font-family: 'Open Sans', sans-serif;
}

.asdfasd{
    color: #F5F5F5;
    color: #9E9E9E;
    color: #616161;
    color: #212121
}