@import "../../assets/fonts/allFonts";
@import "../../assets/colors/allColors";


body{
    background-color: #000000;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

.lnf-landingPage-videoBg{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    filter: blur(5px);
    background-size: cover;
    transition: 1s opacity;
}


.lnf-landingpage-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lnf-landingpage-container-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lnf-landingPage-titleLeft{
    font-family: Comfortaa,cursive;
    color: rgba(255, 255, 255, 0.82);
    text-align: right;
    font-size: 65pt;
    cursor: default;
    user-select: none;
    margin-right: 15px;
    text-shadow: 0 0 50px #000000db;
}

.lnf-landingpage-card-container{
    display: flex;
    background: hsla(0,0%,100%,.84);
    border-radius: 0;
    padding: 30px 30px 15px 30px;
    height: 50vh;
    width: 60vh;
    min-height: 40vh;

    box-shadow: 0 0 140px -25px #0000007a;
}

.lnf-LPcard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lnf-LPcard-header{
    font-size: 20pt;
    color: $color-font-light-mode;
}

.lnf-LPcard-content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.lnf-LPcard-content-body{
    flex: 1;
    padding: 12px;
    margin: 20px 0px;
    background: #00000024;
    overflow: auto;
    border: solid 1px #f3f3f3a6;
    border-radius: 3px;
}

.lnf-LPcard-actions{
    display: flex;
    justify-content: space-between;
}

.lnf-LPcard-content-body-signin{
    flex: 1;
    // padding: 12px;
    margin: 20px 0px;
}

.lnf-LPcard-content-body-signin-social{
    display: flex;
    justify-content: space-between
}
.lnf-LPcard-content-body-signin-social-logo{
    width: 45%;
    cursor: pointer;
    align-self: center;
    transition: all 500ms ease;
}

.lnf-LPcard-content-body-signin-social-logo:hover{
    filter: brightness(80%);
}
.lnf-LPcard-content-body-signin-social-logo:active{
    filter: brightness(60%);
}